<div>
 <center><br/>
  <hr/>
  <form action="/upload" enctype="multipart/form-data" method="POST" >
   <input type="file" name="file" accept="jpg" /> &nbsp;&nbsp;
   <input type="submit" value="Upload" />
  </form>
 </center>
</div>